# Configurações do Servidor CORINO e Google Cloud Storage (LGPD)
PORT=5502
GCS_PROJECT_ID=seu-projeto-gcp
GCS_BUCKET_NAME=seu-bucket-corino-privado
GCS_KEY_FILE=./gcs-key.json
GCS_URL_EXPIRATION_MINUTES=15
